﻿@model UserFormDegubWrite.ViewModels.UserFormViewModel

@{
    ViewBag.Title = "Add new User";
}

<h2>New user</h2>

@using (Html.BeginForm("Save", "Home"))
{
    <div class="form-group">
        <h4>
            <label class="label label-primary">
                @Html.LabelFor(m => m.Name)
            </label>
        </h4>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        <h4>
            <label class="label label-primary">
                @Html.LabelFor(m => m.Age)
            </label>
        </h4>
        @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Age)
    </div>

    <div class="form-group">
        <h4>
            <label class="label label-primary">
                @Html.LabelFor(m => m.Telephone)
            </label>
        </h4>
        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Telephone)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <div class="col-md-offset-1">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>
        </button>

        <a href="@Url.Action("Index")" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
}

