﻿@model IEnumerable<UserFormDegubWrite.Models.User>

@{
    ViewBag.Title = "Users";
}

<div class="row text-center">
    <h2>Users</h2>
</div>

<div class="row text-center">
    @Html.ActionLink("Add new user", "Add", "Home", null, new { @class = "btn btn-success" })
</div>
<br />
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Age</th>
                    <th class="text-center">Telephone</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td class="text-center">
                            @user.Name
                        </td>

                        <td class="text-center">
                            @user.Age
                        </td>

                        <td class="text-center">
                            @user.Telephone
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

