﻿@model IEnumerable<WebStoreApp.Models.MenuItem>

<ul class="nav nav-pills nav-stacked text-center">
    @foreach (var menuItem in Model)
    {
        <li class="@menuItem.Active">
            @Html.ActionLink(menuItem.Name, menuItem.Action, menuItem.Controller)
        </li>
    }
</ul>
