﻿
@{
    ViewBag.Title = "Email confirmed";
}

<div class="row text-center">
    <h3>
        <label>
            Thank you!
        </label>
    </h3>
</div>

<div class="row text-center text-success">
    <h4>
        Your email has been successfully confirmed.
    </h4>
</div>

