﻿
@{
    ViewBag.Title = "Email confirmation";
}

<div class="row text-capitalize text-center">
    <h3>
        <label>
            Confirm Email
        </label>
    </h3>
</div>

<div class="row text-center">
    <h4>
        <label>
            A confirmation Email has benn sent to the mentioned Email. Please, follow the link in the letter.
        </label>
    </h4>
</div>

