﻿@model WebStoreApp.ViewModels.LogInViewModel

@{
    ViewBag.Title = "LogIn";
}

<h4>
    <label>
        Log In
    </label>
</h4>

@using (Html.BeginForm("LogIn", "Account"))
{
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Email)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Password)
                    </label>
                </h4>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
    </div>

    @*@Html.AntiForgeryToken()*@

    <div class="row">
        <div class="col-md-3 text-center">
            <input type="submit" class="btn btn-primary" value="Log in" />
        </div>
    </div>
}

@using (Html.BeginForm("GoogleLogin", "Account", FormMethod.Post, new { style = "margin-top:12px" }))
{
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <button class="btn btn-primary" type="submit">
        Войти с помощью аккаунта Google
    </button>
}

@using (Html.BeginForm("FacebookLogin", "Account", FormMethod.Post, new { style = "margin-top:12px" }))
{
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <button class="btn btn-primary" type="submit">
        Войти с помощью аккаунта Facebook
    </button>
}

