﻿@model WebStoreApp.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<h2>
    <label>
        Register
    </label>
</h2>

@using (Html.BeginForm("Register", "Account"))
{
    @Html.ValidationSummary(false)

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Email)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Name)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Surname)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Surname)
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Password)
                    </label>
                </h4>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.PasswordRepeat)
                    </label>
                </h4>
                @Html.PasswordFor(m => m.PasswordRepeat, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PasswordRepeat)
            </div>
        </div>
    </div>

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-3 text-center">
            <input type="submit" class="btn btn-primary" value="Register" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3 text-center text-success">
            @ViewBag.Msg
        </div>
    </div>
}

