﻿@model WebStoreApp.ViewModels.PeriodInfoViewModel

<div class="col-md-offset-4 col-md-4">
    <div class="col-md-6 text-center">
        <h4>
            <label class="label label-info">
                @Html.LabelFor(m => m.SalesNumber)
            </label>
        </h4>
        <label>
            @Model.SalesNumber
        </label>
    </div>

    <div class="col-md-6 text-center">
        <h4>
            <label class="label label-info">
                @Html.LabelFor(m => m.Price)
            </label>
        </h4>
        <label>
            @Model.Price
        </label>
    </div>
</div>