﻿@model WebStoreApp.Customs.OrderInfo

<div class="col-md-offset-2 col-md-8">
    @if (Model == null)
    {
        <div class="row text-center">
            <h4>
                <label class="label label-danger">
                    The selected user doesn't have any orders
                </label>
            </h4>
        </div>
    }
    else
    {
        <div class="row text-center">
            <h4>
                <label class="label label-success">
                        Order info
                </label>
            </h4>
        </div>
        <br />
        <div class="row">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Products</th>
                        <th>Order price</th>
                    </tr>
                </thead>

                <tbody>
                    @*@foreach (var orderInfo in Model.Orders)
                    {
                        <tr>
                            <td>
                                @orderInfo.DateBought.ToString("dd.MM.yyyy")
                            </td>

                            <td>
                                <ul class="list-group">
                                    @foreach (var product in orderInfo.ProductAmmounts)
                                    {
                                        <li class="list-group-item list-group-item-info">
                                            @product.ProductName (@product.Ammount)
                                        </li>
                                    }
                                </ul>
                            </td>

                            <td>
                                @orderInfo.OrderPrice
                            </td>
                        </tr>
                    }*@
                    <tr>
                        <td>
                            @Model.DateBought.ToString("dd.MM.yyyy")
                        </td>

                        <td>
                            <ul class="list-group">
                                @foreach (var product in Model.ProductAmmounts)
                                {
                                    <li class="list-group-item list-group-item-info">
                                        @product.ProductName (@product.Ammount)
                                    </li>
                                }
                            </ul>
                        </td>

                        <td>
                            @Model.OrderPrice
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>