﻿@model WebStoreApp.ViewModels.OrderFormViewModel

@{
    ViewBag.Title = "Add new order";
}

<h2>
    <label>
        New order
    </label>
</h2>

@using (Html.BeginForm("Save", "Orders"))
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        <h4>
            <label class="label label-primary">
                @Html.LabelFor(m => m.DateBought)
            </label>
        </h4>
        @Html.TextBoxFor(m => m.DateBought, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DateBought)
    </div>

    <div class="form-group">
        <h4>
            <label class="label label-primary">
                @Html.LabelFor(m => m.ProductsAmmount)
            </label>
        </h4>
        @for (int i = 0; i < Model.ProductsAmmount.Count; i++)
        {
            @Html.HiddenFor(m => m.ProductsAmmount[i].ProductId)
            @Html.Label(Model.ProductsAmmount[i].ProductName)
            @Html.TextBoxFor(m => m.ProductsAmmount[i].Ammount, new { @class = "form-control" })
        }
    </div>

    @Html.HiddenFor(m => m.Id)
    @*@Html.AntiForgeryToken()*@

    <div class="col-md-offset-1">
        <button type="submit" class="btn btn-primary">
            Create
        </button>
    </div>
}

@section scripts
{
    <script src="~/Scripts/NumberDateValidation.js"></script>
}