﻿@model IEnumerable<WebStoreApp.ViewModels.OrderViewModel>

@{
    ViewBag.Title = "Orders";
    int number = 0;
}

<div class="row text-center">
    <h2>Orders</h2>
</div>

<div class="row text-center">
    <a href="@Url.Action("Add")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span>
    </a>

    <a href="@Url.Action("Period")" class="btn btn-primary">
        <span class="glyphicon glyphicon-time"></span>
    </a>

    <a href="@Url.Action("UserOrder")" class="btn btn-warning">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="text-center">
            <h4>
                <label class="label label-primary">
                    Your orders
                </label>
            </h4>
        </div>
        <br />
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Date</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var order in Model)
                {
                    {
                        number++;
                    }

                    <tr>
                        <td class="text-center">
                            <button id="orderId" class="btn btn-default" data-order-id="@order.Id">
                                @number
                            </button>
                        </td>

                        <td class="text-center">
                            @order.Price
                        </td>

                        <td class="text-center">
                            @order.DateBought.ToString("dd.MM.yyyy")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <div id="orderInfo"></div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(document).on("click", "#orderId", function () {
                var orderId = $(this).attr("data-order-id");

                $.ajax({
                    url: "/Orders/GetUserOrderInfo/" + orderId,
                    method: "GET",
                    dataType: "html",
                    success: function (data) {
                        $("orderInfo").hide("fast");
                        $("#orderInfo").html(data);
                        $("#orderInfo").show("slow");
                    }
                });
            });
        });
    </script>
}