﻿@model WebStoreApp.ViewModels.PeriodViewModel

@{
    ViewBag.Title = "Period";
}

<div class="row text-center">
    <h2>
        <label>
            Periods info
        </label>
    </h2>
</div>

@using (Ajax.BeginForm("GetPeriodInfo", new AjaxOptions { UpdateTargetId = "periodInfo" }))
{
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <div class="col-md-6">
                <div class="form-group">
                    <h4>
                        <label class="label label-primary">
                            @Html.LabelFor(m => m.StartDate)
                        </label>
                    </h4>
                    @Html.TextBoxFor(m => m.StartDate, "{0:dd.MM.yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.StartDate)
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <h4>
                        <label class="label label-primary">
                            @Html.LabelFor(m => m.EndDate)
                        </label>
                    </h4>
                    @Html.TextBoxFor(m => m.EndDate, "{0:dd.MM.yyyy}", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EndDate)
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <button type="submit" class="btn btn-primary">Show</button>
    </div>
}
<br />
<div class="row">
    <div id="periodInfo"></div>
</div>

@section scripts
{
    <script src="~/Scripts/NumberDateValidation.js"></script>
}