﻿@model WebStoreApp.ViewModels.UserOrderViewModel

@{
    ViewBag.Title = "User's order info";
}

<div class="row text-center">
    <h2>
        <label>
            User's orders
        </label>
    </h2>
</div>

@using (Ajax.BeginForm("GetUserOrderInfo", new AjaxOptions { UpdateTargetId = "userOrderInfo" }))
{
    <div class="row">
        <div class="col-md-offset-4 col-md-4 text-center">
            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.UserId)
                    </label>
                </h4>
                @Html.DropDownListFor(m => m.UserId, new SelectList(Model.Users, "Id", "FullName"), new { @class = "form-control width100" })
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-offset-4 col-md-4 text-center">
            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.UserName)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "userName" })
            </div>
        </div>
    </div>*@

    <div class="row text-center">
        <button type="submit" class="btn btn-primary">Show</button>
    </div>
}
<br />
<div class="row">
    <div id="userOrderInfo"></div>
</div>

@*@section scripts
{
    <script>
        $(document).ready(function () {
            $("#userName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Orders/FindUser",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.FulName, value: item.FullName };
                            }))
                        }
                    });
                }
            });
        });
    </script>
}*@
