﻿
@{
    ViewBag.Title = "About us";
}

<div class="row text-center">
    <h3>
        <label class="label label-primary">
            Developer
        </label>
    </h3>
    <h4>
        <label>
            Nikita Moroz
        </label>
    </h4>
</div>

<div class="row text-center">
    <span style='font-size:100px;'>&#9786;</span>
</div>

