﻿
@{
    ViewBag.Title = "News";
}

<div class="row text-center">
    <h3>
        <label class="label label-success">
            Here you may find the latest news!
        </label>
    </h3>
</div>

<div class="row text-center">
    <h4>
        <label class="label label-danger">
            But not now
        </label>
    </h4>
</div>

<div class="row text-center">
    <span style='font-size:100px;'>&#9785;</span>
</div>
