﻿@model IEnumerable<WebStoreApp.Models.Product>

@{
    ViewBag.Title = "Products";
}

<div class="row text-center">
    <h2>Products</h2>
</div>

<div class="row text-center">
    @Html.ActionLink("Add new product", "Add", "Products", null, new { @class = "btn btn-success" })
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">DateAdded</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td class="text-center">
                            @product.Name
                        </td>

                        <td class="text-center">
                            @product.Description
                        </td>

                        <td class="text-center col-md-2">
                            @product.Price
                        </td>

                        <td class="text-center col-md-3">
                            @product.DateAdded.ToString("dd.MM.yyyy")
                        </td>

                        <td class="text-center col-md-1">
                            <a href="@Url.Action("Edit", new { id = product.Id })" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

