﻿@model WebStoreApp.ViewModels.ProductFormViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>
    <label>
        @Model.Title
    </label>
</h2>

@using (Html.BeginForm("Save", "Products"))
{
    <div class="form-group">
        <h4>
            <label class="label label-primary">
                @Html.LabelFor(m => m.Name)
            </label>
        </h4>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        <h4>
            <label class="label label-primary">
                @Html.LabelFor(m => m.Description)
            </label>
        </h4>
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group">
        <h4>
            <label class="label label-primary">
                @Html.LabelFor(m => m.Price)
            </label>
        </h4>
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div class="form-group">
        <h4>
            <label class="label label-primary">
                @Html.LabelFor(m => m.DateAdded)
            </label>
        </h4>
        @Html.TextBoxFor(m => m.DateAdded, "{0:dd.MM.yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DateAdded)
    </div>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <div class="col-md-offset-1">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>
        </button>

        <a href="@Url.Action("Index")" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
}

@section scripts
{
    <script src="~/Scripts/NumberDateValidation.js"></script>
}