﻿@model TelephoneApp.Models.Telephone

@{
    ViewBag.Title = "Edit telephone info";
}

<h2>Edit telephone info</h2>

@using (Html.BeginForm("Save", "Home"))
{
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.CountryCode)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.CountryCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CountryCode)
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.PhoneCode)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.PhoneCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneCode)
            </div>

            <div class="form-group">
                <h4>
                    <label class="label label-primary">
                        @Html.LabelFor(m => m.Number)
                    </label>
                </h4>
                @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Number)
            </div>
        </div>        
    </div>    

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-2 text-center center">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
            </button>

            <a href="@Url.Action("Index")" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
}

