﻿@model IEnumerable<TelephoneApp.Models.Telephone>

@{
    ViewBag.Title = "Telephones";
}

<div class="row text-center">
    <h2>Telephones</h2>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">Country code</th>
                    <th class="text-center">Phone code</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">View</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var telephone in Model)
                {
                    <tr>
                        <td class="text-center">
                            @telephone.CountryCode
                        </td>

                        <td class="text-center">
                            @telephone.PhoneCode
                        </td>

                        <td class="text-center">
                            @telephone.Number
                        </td>

                        <td class="text-center">
                            <a href="@Url.Action("Info", new { id = telephone.Id })" class="btn btn-primary">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </a>
                        </td>

                        <td class="text-center">
                            <a href="@Url.Action("Edit", new { id = telephone.Id })" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

