﻿@model TelephoneApp.Models.Telephone

@{
    ViewBag.Title = "Telephone Info";
}

<h2>Telephone info</h2>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <h4>
                <label class="label label-primary">
                    @Html.LabelFor(m => m.CountryCode)
                </label>
            </h4>
            @Html.TextBoxFor(m => m.CountryCode, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <h4>
                <label class="label label-primary">
                    @Html.LabelFor(m => m.PhoneCode)
                </label>
            </h4>
            @Html.TextBoxFor(m => m.PhoneCode, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            <h4>
                <label class="label label-primary">
                    @Html.LabelFor(m => m.Number)
                </label>
            </h4>
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2 text-center">
        <a href="@Url.Action("Index")" class="btn btn-primary">
            Close
        </a>
    </div>
</div>
