﻿@model IEnumerable<WebStoreApp.Models.User>

@{
    ViewBag.Title = "Users";
}

<div class="row text-center">
    <h2>Users</h2>
</div>

<div class="row text-center">
    @Html.ActionLink("Add new user", "Add", "Users", null, new { @class = "btn btn-success" })
</div>
<br />
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Surname</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Registered</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td class="text-center">
                            @user.Name
                        </td>

                        <td class="text-center">
                            @user.Surname
                        </td>

                        <td class="text-center col-md-2">
                            @user.Email
                        </td>

                        <td class="text-center col-md-3">
                            @user.DateRegistered.ToString("dd.MM.yyyy")
                        </td>

                        <td class="text-center col-md-1">
                            <a href="@Url.Action("Edit", new { id = user.Id })" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

